[Desktop Entry]
Type=Application
Icon=touchscreen-calibrator
Name=Touchscreen calibrator
Comment=Calibrate Touchscreen
Exec=/usr/bin/touchscreen-calibrator gui
Terminal=false
NoDisplay=false
Categories=System;Settings;
Hidden=false
